@import "tailwindcss";

:root{

--bg:#0A0A0F;
--bg-secondary:#0D1117;
--panel:#111827;

--border:#1F2937;

--yellow:#F5C518;

--yellow-glow:
rgba(
245,
197,
24,
0.25
);

--text:
#E5E7EB;

--muted:
#6B7280;

--success:
#10B981;

--danger:
#EF4444;

}


body{

background:
var(--bg);

color:
var(--text);

font-family:
Inter,
sans-serif;

overflow-x:
hidden;

}


/* HEX GRID */

.hex-grid{

background-image:

linear-gradient(
90deg,
rgba(
255,
255,
255,
0.03
)
1px,
transparent 1px
),

linear-gradient(
rgba(
255,
255,
255,
0.03
)
1px,
transparent 1px
);

background-size:
60px 60px;

}



/* PANEL */

.panel{

background:
var(--panel);

border:
1px solid
var(--border);

}



/* GLOW */

.glow{

box-shadow:

0 0 10px
rgba(
245,
197,
24,
0.1
),

0 0 30px
rgba(
245,
197,
24,
0.1
);

}



/* TEXT */

.font-display{

font-family:
Orbitron,
sans-serif;

}


.font-mono{

font-family:
"JetBrains Mono",
monospace;

}