@import "tailwindcss";

@theme {
  --color-forest: #034F46;
  --color-sage-cream: #E6EEDB; 

  --action-primary: var(--color-forest);
  --action-text: var(--color-sage-cream);
  
  --color-action: var(--action-primary);
  --color-action-content: var(--action-text);
}