@import "tailwindcss";

@theme {
  --color-forest: #034f46;
  --color-sage-cream: #e6eedb;

  --action-primary: var(--color-forest);
  --action-text: var(--color-sage-cream);

  --color-action: var(--action-primary);
  --color-action-content: var(--action-text);
}
